#ncsbutton {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    position: fixed;
    right: 400px;
    padding-top: 1px;
    height: 50px;
    width: 55px;
    cursor: pointer;
    background-image: url("http://i.imgur.com/OfSuTb9.png");
    background-position: 5px;
    background-repeat: no-repeat;
}
#ncsmenu {
    width: 200px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top: 1px solid;
    border-left: 1px solid;
    height: 100px;
    z-index: 10;
    position: fixed;
    right: 400px;
    bottom: 54px;
    background-color: #141414;
}
.menuitem { 
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid;
    
}
#afkc {
    background-image: url("http://vignette4.wikia.nocookie.net/okami/images/f/f0/Check_mark.png/revision/latest?cb=20130520141819");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: fixed;
    margin-top: -17px;
    margin-left: 170px;
}
.msg-del {
    height: 20px;
    Color: #FFFFFF;
    background-color: rgba(255, 44, 44, 0.6);
    margin-right: 20px;
}
#issues {
    margin-right: 60px;
}
